.modal {
  display: none;
  top: 50%;
  left: 50%;
  margin-top: -293px;
  margin-left: -215px;
  position: fixed;
  z-index: 10;
  width: 430px;
  min-height: 586px;
  padding: 45px;
  padding-top: 189px;
  background: #f0eae4 url("../img/bg-log_in-desktop@1x.jpg") center top no-repeat;
  background-size: 100% auto;
  box-shadow: 0 5px 32px rgba(226, 221, 215, 0.24);

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: #f0eae4 url("../img/bg-log_in-desktop@1x.jpg") center top no-repeat;
    background-size: 100% auto;
  }

  &--show {
    display: block;
  }
}

.modal__button-close {
  position: absolute;
  top: 20px;
  right: 18px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  &::before,
  &::after {
    content: "";
    z-index: 2;
    position: absolute;
    top: 0;
    left: 9px;
    width: 2px;
    height: 16px;
    background-color: #1d1613;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal h2 {
  margin: 0;
  margin-bottom: 22px;

  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #1d1613;
}

.modal input {
  width: 100%;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 0;
  margin-bottom: 25px;
  border-radius: 0;
  cursor: pointer;
  background-color: #f0eae4;
}

.modal input[placeholder] {
  border: none;
  border-bottom: 1px solid #1d1613;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  font-family: "Poppins", "Arial", sans-serif;
  letter-spacing: normal;
  background-color: #f0eae4;
}

.modal ::-webkit-input-placeholder {
  color: #9b9997;
  background-color: #f0eae4;
}

.modal :-ms-input-placeholder {
  color: #9b9997;
  background-color: #f0eae4;
}

.modal::-moz-placeholder {
  color: #9b9997;
  background-color: #f0eae4;
}

.modal__password-wrapper {
  position: relative;
}

.modal__password-wrapper a {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #9b9997;
}

.modal__password {
  margin-bottom: 50px;
}

.modal .modal__sign-up {
  display: inline-block;
  vertical-align: middle;
  font-family: "Poppins", "Arial", sans-serif;
  color: #1d1613;
  font-size: 14px;
  line-height: 21px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.modal p {
  display: inline-block;
  vertical-align: middle;
  color: #9b9997;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.modal__button {
  display: block;
  width: 100%;
  padding: 10px;
  padding-top: 9px;
  border: none;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: white;
  background-color: #a87b62;
  cursor: pointer;


  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  &--submit {
    padding-top: 26px;
    padding-bottom: 24px;
    margin-top: 42px;
  }
}

@media (max-width: 1023px) {
  .modal {
    margin-left: -221px;
    width: 442px;
    padding: 51px;
    padding-top: 189px;
    background: #f0eae4 url("../img/bg-log_in-tablet@1x.jpg") center top no-repeat;
    background-size: 100% auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #f0eae4 url("../img/bg-log_in-tablet@1x.jpg") center top no-repeat;
      background-size: 100% auto;
    }
  }

  .modal__button-close {
    position: absolute;
    top: 20px;
    right: 17px;
    width: 22px;
    height: 22px;

    &::before,
    &::after {
      content: "";
      z-index: 2;
      position: absolute;
      top: 0;
      left: 9px;
      width: 2px;
      height: 22px;
      background-color: #1d1613;
    }
  }

  .modal input {
    padding-bottom: 9px;
  }
}

@media (max-width: 767px) {
  .modal {
    margin-top: -235px;
    margin-left: -135px;
    width: 270px;
    min-height: 470px;
    padding: 15px;
    padding-top: 120px;
    background: #f0eae4 url("../img/bg-log_in-mobile@1x.jpg") center top no-repeat;
    background-size: 100%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #f0eae4 url("../img/bg-log_in-mobile@1x.jpg") center top no-repeat;
      background-size: 100%;
    }
  }

  .modal__button-close {
    position: absolute;
    top: 15px;
    right: 13px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }

    &::before,
    &::after {
      content: "";
      z-index: 2;
      position: absolute;
      top: 0;
      left: 9px;
      width: 2px;
      height: 16px;
      background-color: #1d1613;
    }
  }

  .modal h2 {
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 32px;
  }

  .modal input {
    padding-bottom: 9px;
    margin-bottom: 20px;
  }

  .modal__password-wrapper a {
    bottom: -2px;
    right: -1px;
  }

  .modal__button {
    &--submit {
      padding-top: 25px;
      padding-bottom: 24px;
      margin-top: 38px;
    }
  }
}
